<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit This Listing</h3>
            <form method="post" action="/listing/<%= listing._id%>?_method=PUT" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="nlisting[title]" value="<%=listing.title%>" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="nlisting[description]" class="form-control"><%=listing.description%></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="nlisting[image][url]" value="<%=listing.image.url%>" type="text" class="form-control" />
                </div>
                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="nlisting[price]" value="<%=listing.price%>" type="number" class="form-control" />
                    </div>
                    <div class="mb-3 col-md-8">

                        <label for="country" class="form-label">Country</label>
                        <input name="nlisting[country]" value="<%=listing.country%>" type="text" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">

                    <label for="location" class="form-label">Location</label>
                    <input name="nlisting[location]" value="<%=listing.location%>" type="text" class="form-control" />
                </div>
                <button class="btn btn-dark edit-btn mt-3 mb-2">Make Changes</button>
            </form>
        </div>
    </div>