<% layout("/layouts/boilerplate") %>
    <h3>All Listings</h3>
    <div class="row row-cols-lg-3 row row-cols-md-2 row row-cols-sm-1">
        <% for(let list of listing){%>
            <a href="listing/<%=list.id%>" class="listing-link">
                <div class="card col">
                    <img src="<%=list.image.url%>" class="card-img-top" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= list.title%>
                            </b><br>
                            &#8377 <%= list.price.toLocaleString("en-IN")%>/night<br>
                            

                        </p>
                    </div>
                </div>
            </a>
            <% }%>
    </div>

    <!-- <ul>

            <% for(let list of listing){%>
                <li>
                    <a href="listing/<%=list.id%>">

                        <%= list.title%><br>
                    </a>
                </li>
                <% }%>
        </ul> -->